body{
	background-color: white;
}

/*nav bar stuff*/


nav{
	width: 100%;
	height: 60px;
	background-color: black;
	margin-bottom: 0;
}

.home, .sep1, .about, .sep2, .contact, .sep3, .shop{
	float: left;
	list-style-type: none;
	padding-left: 10px;
	font-family: 'Lato', sans-serif;
	font-size: 25px;
	text-align: center;
	margin-top: 15px;
	color: white;
}

.navlogo{
	float: left;
	margin-right: 15px;
	margin-top: 5px;
}

a{
	text-decoration: none;
	color: white;
}

#clock{
	float: right;
	margin-top: 20px;
	padding-right: 20px;
	color: white;
}

.content{
	background-color: teal;
	margin-bottom: 70px;
	width: 1075px;
	margin-left: auto;
	margin-right: auto;
	height: 4500px;
	font-family: 'Futura', sans-serif;
}

h1{
	text-align: center;
	font-size: 200px;
	color: black;
	margin-bottom: 20px;
	font-family: 'Futura', sans-serif;
	border-bottom: 7px solid white;
}



/*About*/


.subtitle{
	text-align: center;
	font-size: 100px;
	color: white;
	margin-bottom: 20px;
}

.subsub{
	font-size: 70px;
	margin-left: 40px;
	margin-bottom: 10px;
	color: white;
}

.inception{
	text-indent: 50px;
	width: 800px;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 40px;
}

.img1{
    display: block;
    margin-left: auto;
    margin-right: auto;
    border: 3px solid white;
    }

.subcont{
	width: 850px;
	align-content: center;
	margin-left: auto;
	margin-right: auto;
	border: 1px solid black;
	margin-top: 10px;
}




/*process*/


.h51{
	font-size: 40px;
	margin-left: 40px;
	margin-bottom: 10px;
}

.process{
	text-indent: 50px;
	width: 800px;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 20px;
	margin-top: 10px;
}

.name{
	width: 800px;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 40px;
}





/*day of competition details*/

.h52{
	font-size: 40px;
	margin-left: 40px;
	margin-bottom: 10px;
}

.competition{
	text-indent: 50px;
	width: 800px;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 40px;
	margin-top: 10px;
}

.img3{
	display: block;
    margin-left: auto;
    margin-right: auto;
    border: 3px solid white;
}




/*directions*/

.howitworks{
	font-size: 50px;
	margin-left: 40px;
	margin-bottom: 10px;
	color: white;
}

.how{
	text-indent: 50px;
	width: 800px;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 40px;
	margin-top: 10px;
}

.img4{
	display: block;
	margin-top: 20px;
	margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
    border: 3px solid white;
}

.img5{
	display: block;
	margin-top: 20px;
	margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
    border: 3px solid white;
}

.img6{
	display: block;
	margin-top: 20px;
	margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
    border: 3px solid white;
}

.demo{
	color: black;
	list-style-type: none;
}

video{
	display: block;
    margin-left: auto;
    margin-right: auto;
}



/*future plans*/

.futureplans{
	font-size: 50px;
	margin-left: 40px;
	margin-bottom: 10px;
	color: white;
}

.fp{
	margin-top: 10px;
	text-indent: 50px;
	width: 800px;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 40px;
	float: left;
}

.img7{
	display: block;
	margin-top: 20px;
	margin-left: auto;
	margin-right: auto;
    margin-bottom: 20px;
    border: 3px solid white;
    /*float: left;*/
}

#plast{
	/*float: left;*/
	text-indent: 50px;
	width: 800px;
	margin-left: auto;
	margin-right: auto;
}



/*footer with contact info*/

footer{
	margin-left: 0;
	width: 2000px;
	height: 190px;
	background-color: black;
	font-family: 'Lato', sans-serif;
}

button{
	font-family: 'Lato', sans-serif;
	margin-left: auto;
	margin-right: auto;
	margin-top: 20px;
}

h6{
	font-family: 'Lato', sans-serif;
	background-color: black;
	margin-bottom: 0;
	color: white;
	font-size: 20px;
	margin-top: 50px;
}

footer ul li{
	font-family: 'Lato', sans-serif;
	list-style-type: none;
	margin-left: 30px;
	color: white;
}

video{
	border: 3px solid white;
}

.c1{
	float: left;
}



